*.py text working-tree-encoding=UTF-8 eol=lf
*.md text working-tree-encoding=UTF-8 eol=lf
*.txt text working-tree-encoding=UTF-8 eol=lf
*.json text working-tree-encoding=UTF-8 eol=lf
*.yaml text working-tree-encoding=UTF-8 eol=lf
*.yml text working-tree-encoding=UTF-8 eol=lf
*.csv text working-tree-encoding=UTF-8 eol=lf
.editorconfig text working-tree-encoding=UTF-8 eol=lf
.gitattributes text working-tree-encoding=UTF-8 eol=lf
.gitignore text working-tree-encoding=UTF-8 eol=lf

*.npz binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.fla binary
*.pkl binary
*.rar binary
